
         {{ id }}.axis .line {    
           stroke: rgb(211, 214 ,221,0.6);
           stroke-width: 2px;
         }
    
         {{ id }}.graph {  
           fill: rgb(128,128,128);
         }
    
         {{ id }}.axis .line { 
            stroke-dasharray: 7,7;
            stroke: rgb(211,214,221,0.6);;
            stroke-width: 2px;
         }
    
         {{ id }}.axis .guide.line { 
             stroke-dasharray: 7,7;
             stroke: rgb(211,214,221,0.6);;
             stroke-width: 2px;
         }
    
         {{ id }}.axis .major.line {
            stroke: rgb(211, 214 ,221,0.6);
         }
    
    
         {{ id }}.axis text { 
             font-size: 14px;
             font-family: Helvetica Neue;
             color: rgb(128,128,128);
         }
    
         {{ id }}.reactive {
            fill-opacity: 1;
            stroke-opacity: 1;
            width: 10px !important;
         }
         
         {{ id }}.axis text {
            font-size: 18px;
            font-family: Helvetica Neue;
            color: rgb(142,141,147);
         }
         
         {{ id }}.axis.x text {
            display: none;
         }
         
          {{ id }}.axis.x text {
            display: none;
         }
         
         {{ id }}.title {
            fill: rgba(142,142,147,1);
            font-family: Helvetica Neue;
            font-size: 19px;
            transform: translate(35px,-131px);
         }
         {{ id }}.stackedbar-graph .plot {
             transform: translate(45px, 36px);
         }
         {{ id }} .legends .legend text {
            fill-opacity: 1;
            fill: rgba(51,51,51);
            font-family: Helvetica Neue,"ProximaNova-Regular";
            font-size: 20px;
         }
         
         {{ id }} .legends {
              transform: translate(84px,259px)!important;
         }
         
         {{ id }} .bars .bar rect {
            transform: translate(-7px,0)!important;
         }
                             
          {{ id }}.axis.x .guides:nth-child(6) text{ 
              display: block;
          }
          
          {{ id }}.axis.x .guides:nth-child(11) text{ 
              display: block;
          }
          
           {{ id }}.axis.x .guides:nth-child(16) text{ 
              display: block;
          }
          
            
           {{ id }}.axis.x .guides:nth-child(21) text{ 
              display: block;
          }
          
           {{ id }}.axis.x .guides:nth-child(26) text{ 
              display: block;
          }
          
          {{ id }}.axis.x .guides:nth-child(31) text{ 
             display: block;
          }
           
          {{ id }}.legends .legend rect{
                width: 20px!important;
                height: 20px!important;
                rx: 5;
          }
          
          {{ id }}.legends .legend:first-child text{
            transform: translate(10px, 7px);
          }
          
            {{ id }}.legends .legend:nth-child(2) text{
            transform: translate(10px, 7px);
          }
          
          
    
    
    
       